html,
body {
    height: 100%;
}

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color:#191A1D;
    color:aliceblue;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.refresh-button,
.close-button {
    margin: 5px;
    font-size: 120%;
}

button {
    border: none;
    color:aliceblue;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: transparent;
    font-weight: bold;
}

.refresh-button:hover,
.close-button:hover {
    cursor: pointer;
    color:white;
}

.refresh-button:active,
.close-button:active {
    color:lightgray;
}

#app {
    height: 100%;
}

.app {
    display: flex;
    height: 100%;
    flex-direction: column;
}

header {
    background-color:black;
    height: 6%;
    display: flex;
    font-size: 120%;
}

main {
    height: 100%;
    overflow-y: auto;
    margin-left: 12px;
    margin-right: 12px;
}

.carousel {
    display: flex;
    overflow: auto;
    scroll-behavior: smooth;
    overflow-x:hidden;
}
.movie-card {
    margin: 15px 15px 15px 6px;
    cursor: pointer;
    min-width: 0;
}
.movie-card:focus {
    margin-top: 0;
    padding: 10px;
    background-color: rgba(77, 144, 254, 0.5);
}

.carousel-title {
    text-transform: uppercase;
    font-size: 120%;
    margin-top: 20px;
    margin-bottom: 15px;
}

.movie-title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 214px;
}

img.movie-card {
    width:calc(20%);
}

.player-backdrop {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.player-pane-controls {
    text-align: right;
}

    @media (orientation: portrait) {
    .carousel {
        flex-wrap: wrap;
    }
    .carousel-item {
        flex: 1 0 46vw;
    }

    .movie-card img,
    .movie-title {
        width: 100%;
        max-width: 46vw;
    }

    img {
        width: 100%;
    }

    .movie-title {
        font-size: 130%;
    }
}